# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/*.log

# Excel temporary files
~$*.xlsx

# Mac
.DS_Store

# Windows
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Environment files
.env

# Temporary files
*.tmp
*.bak